.main-container {
  margin: 0 auto;
  padding: 20px;
  background-color: aqua;
}

.country-container {
  padding: 20px;
}

.main-box {
  width: 100%;
  margin: 0 auto;
  padding: 15px;
  border-radius: 10px;
  background-color: #009688;
  @media screen and (min-width: 470px) {
    padding: 30px;
  }
}

.card {
  display: flex;
  justify-content: center;
}
