.main-container {
  margin: 0 auto;
  padding: 10px;
  background-color: aqua;
}

.country-container {
  padding: 20px;
}

.country-box {
  display: none;
  padding: 30px;
  border: 1px solid aqua;
  border-radius: 10px;
}

.main-box {
  width: 100%;
  margin: 0 auto;
  padding: 15px;
  border-radius: 10px;
  background-color: #009688;
  @media screen and (min-width: 470px) {
    padding: 30px;
  }
}

.card {
  display: flex;
  justify-content: center;
}

.error-box {
  margin: 10px;
  width: -10px;
  display: inline-block;
  text-align: center;
}
